
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center !important;

}
#DoodleButton{
    margin: 30px;
    display: inline-block;
}
#searchTxt{
    border-radius: 50px 0 0 50px ;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block;
    font-size: 40px;
    min-width: 600px;
}
#submit{
    border-radius: 0 50px 50px 0 ;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    display: inline-block;
    font-size: 40px;
}
#header{
    font-size: 90px;
    font-weight: bold;
    color: rgb(0, 128, 255);
}

#formDiv{ 
    position: absolute;
    margin: auto;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
}
.container{
    margin-top: 20px;
    text-align: center;
    
}

#Advanced{
    float: left;
}

#Image{
    float: right;
}

.link-secondary{
    margin: 15px;
    border: 1px grey solid;
    padding: 10px;
    border-radius: 20px;
    display: block;
    max-width: 150px;
}

#Advanced{
    float: right;
}

#Image{
    float: left;
}